.about_main_div {
  width: 80%;
  max-width: 1400px;
  font-size: 18px;
}

.short_text {
  margin-inline: auto;
  margin-top: -30px;
}

.our_services h3,
.most_popular_objs h3 {
  font-size: 36px;
  font-weight: 800;
  background: linear-gradient(0.3turn, #fffa22 0%, #bebb00 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 30px;
}

.our_services ul,
.most_popular_objs ul {
  margin-left: 4%;
}

.our_services li,
.most_popular_objs li {
  margin-top: 8px;
}

.our_services li::marker,
.most_popular_objs li::marker {
  color: #fffa22;
}

.most_popular_objs {
  margin-bottom: 60px;
}

@media screen and (width < 1100px) {
  .about_main_div {
    margin-top: 50px;
    width: 80%;
    margin-inline: auto;
  }

  .short_text span {
    font-size: 16px;
    margin-top: 15px;
  }

  .our_services h3,
  .most_popular_objs h3 {
    font-size: 28px;
  }

  .our_services ul,
  .most_popular_objs ul {
    font-size: 16px;
  }
}


@media screen and (width < 920px) {
  .about_main_div {
    width: auto;
    margin-left: 2%;
    margin-right: 10px;
  }
}