.about_flexDiv {
  display: flex;
  height: auto;
  margin: auto;
  margin-block: 70px;
  font-size: 18px;
  width: 80%;
  justify-content: space-between;
  max-width: 1400px;
}

.about_flexDiv img {
  margin-right: 0;
}

.about_text {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: left;
  margin-left: 5%;
  height: auto;
}

.about_text h2 {
  font-size: 36px;
  font-weight: 800;
  background: linear-gradient(0.3turn, #fffa22, #bebb00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0;
  margin-bottom: 10px;
}

.about_text ul {
  margin-left: 4%;
}

.about_text ul li {
  margin-top: 10px;
}

.about_text li::marker {
  color: #fffa22;
}

.about_text a {
  text-decoration: underline #fffa22;
  background: linear-gradient(0.3turn, #fffa22, #bebb00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0;
}

.about_text p {
  margin: 0;
}

@media screen and (width < 1100px) {
  .about_flexDiv {
    height: auto;
    margin-block: 30px;
  }

  .about_flexDiv img {
    display: none;
  }

  .about_text {
    height: initial;
    font-size: 16px;
    margin-right: 10px;
    margin-left: 0;
  }

  .about_text p {
    margin-left: 2%;
  }

  .about_text h2 {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .about_text ul {
    margin-bottom: 0;
    margin-top: 10px;
  }
}

@media screen and (width < 920px) {
  .about_flexDiv {
    width: 100%;
  }

  .about_text {
    margin-left: 2%;
  }
}
