.footer_main img {
  width: 25px;
  height: 25px;
}

.footer_main button {
  border: none;
  background: none;
  color: #fffa22;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  line-height: 18px;
  width: 170px;
  border-bottom: dotted 1px #fffa22;
  padding-bottom: 2px;
}

.footer_main li {
  list-style: none;
}

.footer_main a {
  color: inherit;
}

.footer_main a:hover {
  color: #fffa22;
}

.footer_main {
  font-size: 18px;
  height: 280px;
  background: linear-gradient(1turn, #111111, #3a3a3a);
  color: #ffffff;
}

.footer_block {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}

.logo_politic {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin-top: 0;
}

.logo_politic .logo {
  display: flex;
}

.logo_politic .logo img {
  width: 120px;
  height: 120px;
}

.logo_politic .logo h4 {
  font-size: 28px;
  font-weight: 800;
  background: linear-gradient(0.3turn, #fffa22, #bebb00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo_politic .logo div {
  display: flex;
  flex-direction: column;
}

.logo_politic .logo span {
  width: 250px;
  margin-left: 0;
  font-size: 14px;
}

.logo_politic .politic {
  margin-left: 5%;
  font-size: 17px;
  width: 280px;
  margin-top: 4px;
}

.about_div {
  margin-top: 10px;
  text-align: center;
}

.about_div h5 {
  font-size: 20px;
  margin-bottom: 15px;
}

.about_div li {
  margin-top: 10px;
}

.contacts_div {
  width: 500px;
  font-size: 16px;
  margin-top: 10px;
}

.contacts_div h5 {
  font-size: 20px;
  text-align: center;
}

.contacts_div .contacts li {
  display: flex;
  margin-block: 8px;
}

.contacts_div .contacts li * {
  margin-inline: 0;
}

.contacts_div .contacts li img {
  margin-right: 10px;
}

.contacts_div .contacts li a {
  font-size: 20px;
}

.contacts_div .contacts .time {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}