.form_flexDiv {
  display: flex;
  background: linear-gradient(
    0.67turn,
    #bebb00,
    #fffa22 50%,
    #202020 50%,
    #0a0a0a
  );
  color: #ffffff;
  height: auto;
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  padding-block: 70px;
  font-size: 18px;
  margin-bottom: 60px;
  justify-content: space-between;
}

.form_text {
  width: 45%;
  margin-left: 7%;
  margin-right: 5%;
  font-size: 20px;
}

.form_text h4 {
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  margin-bottom: 20px;
}

.form_div {
  width: 45%;
  margin-left: 10%;
}

.form_div form {
  padding-right: 0;
}

.form_div form .input {
  width: 80%;
  height: 40px;
  font-size: 18px;
  margin-block: 5px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
}

.form_div form .input::placeholder {
  color: #7c7c7c;
}

.form_div form textarea {
  min-height: 30px;
  max-height: 200px;
  height: 40px;
  width: 80%;
  font-size: 18px;
  resize: vertical;
  margin-top: 5px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding-top: 5px;
}

.form_div form textarea::placeholder {
  color: #7c7c7c;
}

.checkboxDiv {
  margin-top: 5px;
  margin-left: 0;
  width: 85%;
  display: flex;

}

.checkboxDiv label {
  width: 90%;
  font-size: 14px;
  padding-left: 10px;
  color: #000000;
  line-height: 15px;
}

.form_flexDiv .btn_div {
  text-align: center;
  width: 85%;
  margin-left: 0;
  margin-top: 20px;
}

.form_flexDiv .btn_div button {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 30%;
  background: linear-gradient(
    0.1turn,
    #202020 50%,
    #0a0a0a
  );
  color: #fffa22;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: font-size 0.3s ease;
}

.form_flexDiv .btn_div button img {
  margin-right: 30px;
  transition: 0.3s ease;
}

.form_flexDiv .btn_div button:hover img {
  margin-right: 10px;
}

.form_flexDiv .btn_div button:hover {
  background: linear-gradient(
    0.5turn,
    #202020 50%,
    #0a0a0a
  );
}

@media screen and (width < 1100px) {
  .form_flexDiv {
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (width < 920px) {
  .form_flexDiv {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
    0.4turn,
    #bebb00,
    #fffa22 50%,
    #202020 50%,
    #0a0a0a
  );
  margin-bottom: 0;
  }

  .form_flexDiv .form_text {
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
  }

  .form_flexDiv .form_div {
    margin: auto;
  }

  .form_flexDiv .btn_div button {
    margin: auto;
    color: #000000;
    background: linear-gradient(
      0.4turn,
      #bebb00,
      #fffa22 50%
    );
    padding-left: 36%;
  }

  .form_flexDiv .btn_div button:hover {
    background: linear-gradient(
      0.1turn,
      #bebb00 30%,
      #fffa22 60%
    );
  }

  .form_flexDiv .btn_div button img {
    display: none;
  }

  .checkboxDiv {
    margin: auto;
    margin-top: 10px;
  }

  .checkboxDiv label {
    color: #ffffff;
    padding-left: 0;
  }

  .form_div {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .form_div form {
    width: 90%;
    margin: auto;
  }

  .form_div .btn_div {
    margin-inline: auto;
    width: 75%;
  }
}