.logo_contacts {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__text {
  display: flex;
}

.logo_div {
  height: 100px;
  width: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 300px;
}

.logo_div h3 {
  margin-left: 0;
  color: #ebe700;
}

.logo_div span {
  line-height: 1.1;
}

.logo {
  background-color: #ebe700;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.time_phone {
  display: flex;
}

.days__time {
  display: flex;
  margin-right: 50px;
}

.days__time img {
  margin-right: 15px;
}

.days {
  display: flex;
  flex-direction: column;
}

.telephone {
  display: flex;
}

.telephone img {
  margin-right: 15px;
}

.phone_text {
  display: flex;
  flex-direction: column;
}

.phone_text a {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
}

.phone_text span button {
  border: none;
  background: none;
  color: #ebe700;
  text-decoration-line: underline;
}
