.logo_contacts {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(0.4turn, #5f5f5f, #1a1a1a);
  color: #ffffff;
}

.logo__text img {
  width: 120px;
  height: 120px;
}

.logo__text {
  display: flex;
}

.logo_div {
  height: 100px;
  width: 130px;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 300px;
}

.logo_div h3 {
  margin-left: 0;
  background: linear-gradient(0.3turn, #fffa22, #bebb00);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  font-size: 30px;
  font-weight: 900;
}

.logo_div span {
  line-height: 1.1;
}

.logo {
  border-radius: 100%;
  width: 60px;
  height: 60px;
}

.time_phone {
  display: flex;
}

.days__time {
  display: flex;
  margin-right: 50px;
}

.days__time img {
  margin-right: 15px;
}

.days {
  display: flex;
  flex-direction: column;
}

.telephone {
  display: flex;
}

.telephone img {
  margin-right: 15px;
}

.phone_text {
  display: flex;
  flex-direction: column;
}

.phone_text a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

.phone_text span button {
  border: none;
  background: none;
  color: #fffa22;
  text-decoration-line: underline;
}
