.links {
  display: flex;
  margin: auto;
  height: 60px;
  background: linear-gradient(#111111, #3a3a3a);
  color: #ffffff;
  font-size: 20px;
}

.links .main,
.about,
.renting,
.contacts {
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  background: initial;
  transition: color 0.3s ease;
}

.links .main:hover,
.about:hover,
.renting:hover,
.contacts:hover {
  color: #000000;
}

.links .main::before,
.about::before,
.renting::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0.4turn, #fffa22, #bebb00);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.links .main:hover::before,
.about:hover::before,
.renting:hover::before,
.contacts:hover::before {
  opacity: 1;
}

.main {
  display: flex;
  background-color: initial;
  width: 140px;
  height: 40px;
  transform: skewX(30deg);
  margin-right: 3%;
}

.main span {
  transform: skewX(-30deg);
  background-color: initial;
}

.about {
  display: flex;
  background-color: initial;
  width: 180px;
  height: 40px;
  transform: skewX(30deg);
  margin-inline: 3%;
}

.about span {
  transform: skewX(-30deg);
  background-color: initial;
}

.renting {
  display: flex;
  background-color: initial;
  width: 260px;
  height: 40px;
  transform: skewX(30deg);
  margin-inline: 3%;
}

.renting span {
  transform: skewX(-30deg);
  background-color: initial;
}

.contacts {
  display: flex;
  background-color: initial;
  width: 160px;
  height: 40px;
  transform: skewX(30deg);
  margin-left: 3%;
}

.contacts span {
  transform: skewX(-30deg);
  background-color: initial;
}

.line {
  background: linear-gradient(#fffa22, #a19f12);
  width: 1px;
  height: 40px;
  transform: skewX(30deg);
  margin-inline: 0;
}

.close_btn_nav {
  display: none;
}

@media screen and (width < 945px) {
  .links {
    position: absolute;
    flex-direction: column;
    height: 180px;
    z-index: 5;
    right: 0;
  }

  .main,
  .about,
  .renting,
  .contacts,
  .main span,
  .about span,
  .renting span,
  .contacts span {
    margin-left: 30px;
    transform: none;
  }

  .links a {
    height: 30px;
    margin: 0;
    margin-top: 10px;
  }

  .links .line {
    display: none;
  }

  .links .main::before,
  .about::before,
  .renting::before,
  .contacts::before {
    display: none;
  }

  .links .main:hover,
.about:hover,
.renting:hover,
.contacts:hover {
  background-color: #fffa22;
}

.close_btn_nav {
  position: absolute;
  z-index: 10;
  width: 30px;
  height: 30px;
  background-color: initial;
  right: 0;
  top: 104                                                                   px;
  border: 2px solid #fff;
}

/* .close_btn_nav :first-child {
  position: absolute;
  z-index: 11;
  width: 2px;
  height: 38px;
  transform: rotate(42deg);
  background-color: #ffffff;
  right: 12px;
  top: -6px;
} */

/* .close_btn_nav :last-child {
  position: absolute;
  z-index: 11;
  width: 2px;
  height: 38px;
  transform: rotate(138deg);
  background-color: #ffffff;
  right: 12px;
  top: -6px;
} */

/* .close_btn_nav :first-child {
  position: absolute;
  z-index: 11;
  width: 2px;
  height: 20px;
  transform: rotate(90deg);
  background-color: #ffffff;
  right: 12px;
  top: -2px;
}

.close_btn_nav :last-child {
  position: absolute;
  z-index: 11;
  width: 2px;
  height: 20px;
  transform: rotate(90deg);
  background-color: #ffffff;
  right: 12px;
  top: 8px;
} */
}
